.siteHeader{
    width: 100%;
    height: 48px;
    border-radius: 1em;
    border: solid 1px #9DBFDD;
    background: #71A3E0;
    background: linear-gradient(180deg,rgba(113, 163, 224, 1) 0%, rgba(21, 10, 50, 1) 15%, rgba(56, 69, 117, 1) 90%, rgba(113, 163, 224, 1) 100%);
    box-shadow: inset 0 0 6.8px #4F91FB;
    box-shadow: 0 4px 11px -2px #4F91FB;
    font-family: "Yanone Kaffeesatz", sans-serif;
    max-width: 1290px;
    margin: auto;
    margin-top: 11px;
    margin-bottom: 11px;
    z-index: 1000;
}
.siteHeader .navGroup{
    display: inline-flex;
    width: 100%;
    height: 48px;
    align-items: center;
    z-index: 1000;
    position: relative;
}

.siteHeader a{
    background: linear-gradient(0deg,rgba(255, 255, 255, 1) 0%, rgba(152, 221, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
    font-weight: 500;
    text-decoration: none;
    font-size: 32px;
    padding: 0 .5em 0 .5em;
    width: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-radius: 1em;
    transition: background 0.2s ease-out;
}

.siteHeader a:hover{
    color: white;
    background: linear-gradient(180deg,rgba(113, 163, 224, 1) 0%, rgba(83, 136, 219, 1) 25%, rgba(73, 94, 174, 1) 69%, rgba(113, 163, 224, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.2s ease-out;
}

.navDrpDwn{
    position: relative;
    width: 100%;
}
.navDrpDwn.navDrpOpn .drpDwnCnt{
    display: block;
}
.navDrpDwnBtn{
    background: linear-gradient(0deg,rgba(255, 255, 255, 1) 0%, rgba(152, 221, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
    font-weight: 500;
    text-decoration: none;
    font-size: 32px;
    width: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: none;
    transition: background 0.2s ease-out;
    font-family: "Yanone Kaffeesatz", sans-serif;
    text-align: left;
}
.navDrpDwnBtn::after{
    content: "▶";
    color: #fff;
    font-size: 1rem;
    display: inline-block;
    vertical-align: middle;
    margin-left: .5em;
}
.navDrpDwnBtn.navDrpBtnClck::after{
    content: "▼";
}
.navDrpDwnBtn:hover{
    color: white;
    background: linear-gradient(180deg,rgba(113, 163, 224, 1) 0%, rgba(83, 136, 219, 1) 25%, rgba(73, 94, 174, 1) 69%, rgba(113, 163, 224, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.2s ease-out;
    cursor: pointer;
}
.drpDwnCnt{
    position: absolute;
    top: 115%;
    background-color: #2A2A2A;
    border-radius: 0 0 1em 1em;
    border-bottom: 1px solid #9DBFDD;
    border-left: 1px solid #9DBFDD;
    border-right: 1px solid #9DBFDD;
    box-shadow: inset 0 0 6.8px #1B1E5C;
    box-shadow: 0 4px 11px -2px #4F91FB;
    height: auto;
    display: none;
    width: 100%;
    text-align: center;
}

.drpDwnCnt a{
    display: block;
    padding: .2em 1em;
    border-bottom: 1px solid #9DBFDD;
    border-radius: 0;
}

.drpDwnCnt a:last-child{
    border: none;
}

.siteFooter{
    width: 100%;
    border-radius: 1em;
    border: 1px solid #1C1F42;
    background: #2B2B2B;
    font-family: "Yanone Kaffeesatz", sans-serif;
    max-width: 1290px;
    margin: auto;
    margin-bottom: 11px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5em 0 .5em 0;
}
.siteFooter .siteCopyright{
    margin: 0 1em 0 .5em;
    background: linear-gradient(0deg,rgba(255, 255, 255, 1) 0%, rgba(152, 221, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
    font-size: 24px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    flex: 1;
}
.siteFooter .siteVersion{
    text-align: center;
}

.siteFooter .siteSocials{
    margin-right: .5em;
    display: inline-flex;
    flex: 1;
}

.siteFooter .footerSocial{
    font-size: 24px;
    margin: 0 .2em 0 .2em;
    text-decoration: none;
    height: 32px;
    width: 32px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.siteFooter .footerSocial:hover{
    transform: scale(120%);
}

.siteFooter .socialYT{
    background-color: #FF0033;
    color: #FFFFFF;
}
.siteFooter .socialTG{
    font-size: 32px;
    color: #26A5E4;
    background-color: #fff;
}
.siteFooter .socialGit{
    font-size: 32px;
    color: #181717;
    background-color: #fff;
}
.siteFooter .socialDsicord{
    background-color: #5865F2;
    color: #fff;
}
.siteFooter .socialBoosty{
    background-color: #F6F6F6;
    color: #F15F2C;
}
.siteFooter .socialGJ{
    color: #fff;
    font-size: 32px;
}
.siteFooter .socialItch{
    color: #fa5c5c;
    font-size: 32px;
}
.siteFooter .socialTwitch{
    background-color: #9146FF;
    color: #fff;
    font-size: 20px;
}
.siteFooter .socialRSS{
    color: #FFA500;
    font-size: 32px;
}

.pageContentContainer{
    width: 100%;
    border-radius: 1em;
    border: solid 1px #208FED;
    background: #2B2B2B;
    max-width: 1290px;
    margin: auto;
    margin-bottom: 11px;
    padding: 1em;
    box-sizing: border-box;
}
.gameCard{
    box-sizing:border-box;
    border-bottom: 1px solid #9DBFDD;
    padding-bottom: 1em;
    margin-bottom: 1em;
}
.gameCard .gameTitleNMeta{
    width: 100%;
    box-sizing:border-box;
    display: inline-flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #9DBFDD;
    border-radius: 1em;
    padding: 0.5em 1em;
    background: linear-gradient(180deg,rgba(14, 93, 161, 1) 5%, rgba(16, 55, 113, 1) 20%, rgba(7, 28, 64, 1) 80%, rgba(0, 0, 0, 0) 100%);
    box-shadow: inset 0 0 6.8px #4F91FB;
    margin-bottom: 1em;
}
.gameCard .gameTitleNMeta .gamePlatformText{
    text-shadow: 0px 0px 0px 1px #fff;
}
.gameTitleNMeta .gameName{
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}
.gameCard .gameScore{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
}

.gameCard .gameMeta{
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
    margin-bottom: 1em;
    border-top: 1px solid #9DBFDD;
    border-bottom: 1px solid #9DBFDD;
}
.gameCard .gameComment{
    display: flex;
    gap: 1em;
    align-content: center;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1em;
    font-size: 20px;
}
.gameCard .gameComment img{
    object-fit: cover;
    display: block;
    width: 100%;
    border-radius: .3em;
    width: 256px;
}

.gameCard .gameGenres{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    gap: 1em;
    font-size: 14px;
    margin-bottom: 1em;
}

.gameCard .gameAuthors{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    gap: 1em;
    font-size: 14px;
    margin-bottom: 1em;
}
.gameCard .gameAuthors span{
    padding: 0.2em 1em;
    box-shadow: inset 0 0 6.8px #4F91FB;
    border-radius: 1em;
}

.gameCard .gameGenres span{
    padding: 0.2em 1em;
    background: linear-gradient(180deg,rgba(14, 93, 161, 1) 5%, rgba(16, 55, 113, 1) 20%, rgba(7, 28, 64, 1) 80%, rgba(0, 0, 0, 0) 100%);
    box-shadow: inset 0 0 6.8px #4F91FB;
    border-radius: 1em;
}

.postCard{
    box-sizing:border-box;
    border-bottom: 1px solid #9DBFDD;
    padding-bottom: 1em;
    margin-bottom: 1em;
}
.postCard .postTitle{
    width: 100%;
    box-sizing:border-box;
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #9DBFDD;
    border-radius: 1em;
    padding: 0.5em 1em;
    background: linear-gradient(180deg,rgba(14, 93, 161, 1) 5%, rgba(16, 55, 113, 1) 20%, rgba(7, 28, 64, 1) 80%, rgba(0, 0, 0, 0) 100%);
    box-shadow: inset 0 0 6.8px #4F91FB;
    margin-bottom: 1em;
}

.postTitle .postName{
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;

}
.postTitle .postName:hover{
    color: #7ac1ff;
}

.postCard .postMeta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
    margin-bottom: 1em;
    border-top: 1px solid #9DBFDD;
    border-bottom: 1px solid #9DBFDD;
}

.postCard .postMetadata{
    margin-top: 0;
    margin-bottom: 0;
    text-align: right;
    font-size: 18px;
}

.postCard .postCategory{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    margin-bottom: 1em;
}

.postCard .postShortNPicture{
    display: flex;
    gap: 1em;
    align-content: center;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1em;
}
.postShortNPicture .postPicture{
    flex: 0 0 35%;
}
.postShortNPicture .postPicture img{
    aspect-ratio: 16 / 9;
    object-fit: cover;
    display: block;
    width: 100%;
    border-radius: .3em;
}

.postCard .postTags{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    gap: 1em;
    font-size: 14px;
    margin-bottom: 1em;
}
.postCard .postTags span{
    padding: 0.2em 1em;
    background: linear-gradient(180deg,rgba(14, 93, 161, 1) 5%, rgba(16, 55, 113, 1) 20%, rgba(7, 28, 64, 1) 80%, rgba(0, 0, 0, 0) 100%);
    box-shadow: inset 0 0 6.8px #4F91FB;
    border-radius: 1em;
}
.postCard .postTags span.activeTag{
    background: linear-gradient(180deg,rgba(113, 163, 224, 1) 0%, rgba(83, 136, 219, 1) 25%, rgba(73, 94, 174, 1) 69%, rgba(113, 163, 224, 1) 100%);
}
.postCard .readMoreBtn {
    border-radius: 1em;
    border: solid 1px #9DBFDD;
    background: #71A3E0;
    background: linear-gradient(180deg,rgba(113, 163, 224, 1) 0%, rgba(21, 10, 50, 1) 15%, rgba(56, 69, 117, 1) 90%, rgba(113, 163, 224, 1) 100%);
    box-shadow: inset 0 0 6.8px #4F91FB;
    box-shadow: 0 4px 11px -2px #4F91FB;
    width: fit-content;
}
.postCard .readMoreBtn:hover{
    background: linear-gradient(180deg,rgba(113, 163, 224, 1) 0%, rgba(83, 136, 219, 1) 25%, rgba(73, 94, 174, 1) 69%, rgba(113, 163, 224, 1) 100%);
}

.postCard .readMoreBtn a{
    text-decoration: none;
    background: linear-gradient(0deg,rgba(255, 255, 255, 1) 0%, rgba(152, 221, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
    font-size: 20px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1em;
}
.blogPagination{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.blogPagination button{
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 16px;
    border: 1px solid #9DBFDD;
    border-radius: 1em;
    padding: 0.5em 1em;
    background: linear-gradient(180deg,rgba(14, 93, 161, 1) 5%, rgba(16, 55, 113, 1) 20%, rgba(7, 28, 64, 1) 80%, rgba(0, 0, 0, 0) 100%);
    box-shadow: inset 0 0 6.8px #4F91FB;
    color: #fff;
    cursor: pointer;
}
.blogPagination button:hover{
    background: linear-gradient(180deg,rgba(113, 163, 224, 1) 0%, rgba(83, 136, 219, 1) 25%, rgba(73, 94, 174, 1) 69%, rgba(113, 163, 224, 1) 100%);
}
.blogPagination button:disabled{
    border: 1px solid #28292A;
    background: linear-gradient(180deg,rgba(43, 64, 88, 1) 0%, rgba(24, 23, 37, 1) 15%, rgba(25, 22, 33, 1) 35%, rgba(24, 22, 31, 1) 75%, rgba(19, 23, 39, 1) 90%, rgba(43, 64, 88, 1) 100%);
}
.searchBar{
    margin-bottom: 1em;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}
.searchBar .resetSearchSelect{
    border-radius: 1em;
    color: #fff;
    border: solid 1px #9DBFDD;
    background: #71A3E0;
    background: linear-gradient(180deg,rgba(113, 163, 224, 1) 0%, rgba(21, 10, 50, 1) 15%, rgba(56, 69, 117, 1) 90%, rgba(113, 163, 224, 1) 100%);
    box-shadow: inset 0 0 6.8px #4F91FB;
    box-shadow: 0 4px 11px -2px #4F91FB;
    padding: 0.7em;
    cursor: pointer;
    filter: hue-rotate(120deg);
}
.searchBar .resetSearchSelect:hover{
    background: linear-gradient(180deg,rgba(113, 163, 224, 1) 0%, rgba(83, 136, 219, 1) 25%, rgba(73, 94, 174, 1) 69%, rgba(113, 163, 224, 1) 100%);
}
.searchBar .searchInput{
    box-sizing: border-box;
    border-radius:.5em;
    padding: .3em .5em;
    width: 100%;
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-size: 20px;
    border: 1px solid #080B0D;
    background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(31, 31, 31, 1) 5%, rgba(50, 50, 50, 1) 95%, rgba(0, 0, 0, 1) 100%);
    color: #fff;
    box-shadow: inset 0 0 6.8px #4F91FB;
}
.searchBar .searchInput::placeholder{
    color: #969696;
}
.searchBar .searchInput:focus{
    border: 1px solid #9DBFDD;
    outline: none;
}
.searchBar .searchInput:active{
    border: 1px solid #9DBFDD;
    outline: none;
}

.menuToggle {
    display: none;
    padding: 5px 10px;
    cursor: pointer;
}

.projectLinks{
    margin-bottom: 1em;
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.projectLinks a{
    border-radius: 1em;
    border: solid 1px #9DBFDD;
    background: #71A3E0;
    background: linear-gradient(180deg,rgba(113, 163, 224, 1) 0%, rgba(21, 10, 50, 1) 15%, rgba(56, 69, 117, 1) 90%, rgba(113, 163, 224, 1) 100%);
    box-shadow: inset 0 0 6.8px #4F91FB;
    box-shadow: 0 4px 11px -2px #4F91FB;
    padding: .5em;
    text-decoration: none;
    width: fit-content;
    color: #fff;
}
.projectLinks a:hover{
    background: linear-gradient(180deg,rgba(113, 163, 224, 1) 0%, rgba(83, 136, 219, 1) 25%, rgba(73, 94, 174, 1) 69%, rgba(113, 163, 224, 1) 100%);
}

.backlog-progress-container { /* Подстройте под ваш фон */
    padding: 1em;
    box-sizing: border-box;
    background-color: #2A2A2A;
    border-radius: 1em;
    border: 1px solid #9DBFDD;
    box-shadow: inset 0 0 6.8px #1B1E5C;
    box-shadow: 0 4px 11px -2px #4F91FB;
    margin-bottom: 1em;
}

.backlog-progress-container .progress-stack-bar {
    display: flex;
    height: 24px;
    border-radius: 1em;
    overflow: hidden; /* Чтобы края сегментов скруглялись по родителю */
    background: #2B2B2B;
    margin: 1em 0;
    border: solid 1px #9DBFDD;
}
.backlog-progress-container .stats-title{
    margin-top: 0;
}
.backlog-progress-container .bar-segment {
    height: 100%;
    transition: width 1s cubic-bezier(0.4, 0, 0.2, 1);
}
.backlog-progress-container .progress-legend {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font-size: 0.9em;
    justify-content: space-between;
    margin-bottom: 1em;
}
.backlog-progress-container .legend-item {
    display: flex;
    align-items: center;
}
.backlog-progress-container .legend-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 0.5em;
}

.backlog-progress-container .bar-segment{
    transition: transform 0.2s, opacity 0.2s;
}
.backlog-progress-container .bar-segment:hover{
    filter: brightness(1.4);
}

.backlog-progress-container .active-segment{
    outline: 1px solid #9DBFDD; /* Выделяем рамкой активный фильтр */
    outline-offset: 0px;
    box-shadow: inset 0px -4px 8px 0px #1b1e5cb3;
    filter: contrast(1.5);
}

.backlog-progress-container .backlogFilter-btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.backlog-progress-container .backlogFilter-btn button{
    border-radius: 1em;
    border: solid 1px #9DBFDD;
    background: #71A3E0;
    background: linear-gradient(180deg, rgba(113, 163, 224, 1) 0%, rgba(21, 10, 50, 1) 15%, rgba(56, 69, 117, 1) 90%, rgba(113, 163, 224, 1) 100%);
    box-shadow: inset 0 0 6.8px #4F91FB;
    box-shadow: 0 4px 11px -2px #4F91FB;
    padding: .5em 1em;
    text-decoration: none;
    width: fit-content;
    color: #fff;
    cursor: pointer;
}
.backlog-progress-container .backlogFilter-btn button:hover{
    background: linear-gradient(180deg, rgba(113, 163, 224, 1) 0%, rgba(83, 136, 219, 1) 25%, rgba(73, 94, 174, 1) 69%, rgba(113, 163, 224, 1) 100%);
}

.backlog-progress-container .active-legend{
    border-bottom: solid 1px #9DBFDD;
}

.backlog-progress-container .segment-прохожу, .dot-прохожу { background: linear-gradient(180deg, #f1c40f 0%, #f39c12 100%); }
.backlog-progress-container .segment-пройдено-несколько-раз, .dot-пройдено-несколько-раз { background: linear-gradient(180deg, #1abc9c 0%, #16a085 100%); }
.backlog-progress-container .segment-хочу-пройти, .dot-хочу-пройти { background: linear-gradient(180deg, #3498db 0%, #2980b9 100%); }
.backlog-progress-container .segment-пройдено, .dot-пройдено { background: linear-gradient(180deg, #2ecc71 0%, #27ae60 100%); }
.backlog-progress-container .segment-перепрохожу, .dot-перепрохожу { background: linear-gradient(180deg, #9b59b6 0%, #8e44ad 100%); }
.backlog-progress-container .segment-заброшено, .dot-заброшено { background: linear-gradient(180deg, #e74c3c 0%, #c0392b 100%); }
.backlog-progress-container .segment-не-указано, .dot-не-указано { background: linear-gradient(180deg, #bdc3c7 0%, #95a5a6 100%); }


.lightbox-Back{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    background: none;
    border: medium;
    z-index: 10000;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lightbox-Back:hover{
    background: rgba(192, 215, 250, 0.192);
}
.lightbox-Next{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    background: none;
    border: medium;
    z-index: 10000;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lightbox-Next:hover{
    background: rgba(192, 215, 250, 0.192);
}
.lightbox-Counter{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(255, 255, 255);
    font-size: 16px;
    z-index: 10000;
    background: rgba(0, 0, 0, 0.5);
    padding: 4px 12px;
    border-radius: 4px;
    font-family: "Nunito", sans-serif;
}
.lightbox-Caption{
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 1rem;
    z-index: 10001;
    background: rgba(0,0,0,0.7);
    padding: 8px 16px;
    border-radius: 8px;
    max-width: 80%;
    text-align: center;
}
.lightbox-Dwnld{
    position: absolute;
    top: 20px;
    right: 80px;
    color: #fff;
    font-size: 2.5rem;
    z-index: 10001;
    background: none;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 8px;
}
.lightbox-Dwnld:hover{
    background: rgba(192, 215, 250, 0.192);
}
.lightbox-Close{
    position: absolute;
    top: 20px;
    right: 30px;
    color: #fff;
    font-size: 2.5rem;
    z-index: 10001;
    background: none;
    cursor: pointer;
    border: none;
    padding: 0 8px;
    border-radius: 8px;
}
.lightbox-Close:hover{
    background: rgba(192, 215, 250, 0.192);
}

.projectFilters {
    
}

.filterInput {
    box-sizing: border-box;
    border-radius: .5em;
    padding: .3em .5em;
    width: 100%;
    font-size: 14px;
    font-family: "Nunito", sans-serif;
    border: 1px solid #080B0D;
    background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(31, 31, 31, 1) 5%, rgba(50, 50, 50, 1) 95%, rgba(0, 0, 0, 1) 100%);
    color: #fff;
    box-shadow: inset 0 0 6.8px #4F91FB;
    margin-bottom: 1em;
}

.filterInput::placeholder{
    color: #969696;
}
.filterInput:focus{
    border: 1px solid #9DBFDD;
    outline: none;
}
.filterInput:active{
    border: 1px solid #9DBFDD;
    outline: none;
}

.filterSelect {
    padding: 8px 12px;
    border: none;
    background: #212121;
    color: #fff;
    width: 100%;
    font-family: "Nunito", sans-serif;
    margin-bottom: 1em;
}

.filterSelect:hover {
    filter: brightness(120%);
}

.filterCheckbox {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    user-select: none;
    position: relative;
}
.filterCheckbox:last-of-type{
    margin-bottom: 1em;
}

.filterCheckbox input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    position: relative;
}
.filterCheckbox .checkbox{
    position: absolute;
    left: 1em;
    height: 16px;
    width: 16px;
    background-color: #eee;
    border-radius: 4px;
}
.filterCheckbox .checkmark{
    margin-left: 1em;
}

.filterCheckbox input ~ .checkbox{
    background-color: #414141;
}

.filterCheckbox .checkbox::after{
    content: "";
    position: absolute;
    display: none;
    top: 2px;
    left: 2px;
    border-radius: 4px;
}

.filterCheckbox input:checked ~ .checkbox::after{
    display: block;
    width: 12px;
    height: 12px;
    background-color: #208fed;
}

.filterCheckbox:hover{
    background: #3d444d;
}

.filterSort {
    display: flex;
    gap: 6px;
    align-items: stretch;
}

.sortDirectionBtn {
    padding: 8px 12px;
    border: none;
    background: #212121;
    color: #fff;
    cursor: pointer;
    margin-bottom: 1em;
}

.sortDirectionBtn:hover{
    background: #3d444d;
}

.clearFilters {
    border-radius: 1em;
    color: #fff;
    border: solid 1px #9DBFDD;
    background: #71A3E0;
    background: linear-gradient(180deg,rgba(113, 163, 224, 1) 0%, rgba(21, 10, 50, 1) 15%, rgba(56, 69, 117, 1) 90%, rgba(113, 163, 224, 1) 100%);
    box-shadow: inset 0 0 6.8px #4F91FB;
    box-shadow: 0 4px 11px -2px #4F91FB;
    padding: 0.7em;
    cursor: pointer;
    filter: hue-rotate(120deg);
    width: 100%;
}

.clearFilters:hover {
    background: linear-gradient(180deg,rgba(113, 163, 224, 1) 0%, rgba(83, 136, 219, 1) 25%, rgba(73, 94, 174, 1) 69%, rgba(113, 163, 224, 1) 100%);
}

.highlighted {
    background: #ffc10773;
    color: #fff;
    border-radius: 3px;
    font-weight: bold;
}

.multiFilter {
    position: relative;
    display: inline-block;
    margin-top: 1em;
    width: 100%;
}

.multiFilterOptions {
    top: 100%;
    left: 0;
    z-index: 100;
    background: #212121;
    border: 1px solid #565656;
    border-radius: 6px;
    padding: 8px;
    max-height: 200px;
    overflow-y: auto;
    min-width: 180px;
    width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    scrollbar-width: thin;
    margin-bottom: 1em;
}

.multiFilterOptions label {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px 8px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 0.9em;
    user-select: none;
}

.multiFilterOptions label:hover {
    background: #3d444d;
}

.multiFilterOptions input[type="checkbox"] {
    margin: 0;
    cursor: pointer;
}

.projectTags{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    gap: 1em;
    font-size: 14px;
    margin-bottom: 1em;
}
.projectTags span{
    padding: 0.2em 1em;
    background: linear-gradient(180deg,rgba(14, 93, 161, 1) 5%, rgba(16, 55, 113, 1) 20%, rgba(7, 28, 64, 1) 80%, rgba(0, 0, 0, 0) 100%);
    box-shadow: inset 0 0 6.8px #4F91FB;
    border-radius: 1em;
}

.projectTags span.activeTag{
    background: linear-gradient(180deg,rgba(113, 163, 224, 1) 0%, rgba(83, 136, 219, 1) 25%, rgba(73, 94, 174, 1) 69%, rgba(113, 163, 224, 1) 100%);
}
.QTPOC{
    display: inline-block;
    padding: 5px;
    border: 1px solid rgb(255, 255, 255);
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-image: linear-gradient( 180deg, rgb(226, 22, 192) 0%, rgb(242, 191, 23) 20%, rgb(223, 211, 0) 40%, rgb(157, 250, 44) 60%, rgb(12, 77, 255) 80%, rgb(104, 31, 199) 100% );
    border-image-slice: 100%;
    border-image-slice: 1;
    background: black;
    font-weight: bold;
    color: #4493f8;
}
.QTPOCFlex{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    gap: 5px;
    border-bottom: solid 1px #9DBFDD;
    padding-bottom: 5px;
}
.QTPOCFlex a{
    width: 100%;
    color: #4493f8;
    flex: 1;
    text-align: center;
    text-decoration: none;
}
.QTPOCFlex a:hover{
    color: #7ac1ff;
}
.badgesComponent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1em;
}

@media (max-width: 1024px) {
    .siteHeader a{
        padding: 0.2em .5em;
        text-align: center;
    }
    .gameCard .gameScore{
        overflow-wrap: break-word; /* Перенос длинных слов */
        word-wrap: break-word;
        align-items: flex-start;
        justify-content: center;
        flex: 0 0 50%;
        text-align: center;
    }
    .gameCard .gameMeta{
        align-items: center;
    }
    .siteFooter{
        flex-direction: column;
        gap: 1em;
        margin-bottom: 1em;
    }
    .siteFooter .siteCopyright{
        margin: 0 0.5em;
    }
    .siteFooter .siteSocials{
        margin: 0 0.5em;
    }
}
@media (max-width: 876px){
    .siteHeader a{
        padding: .2em .2em;
    }
    .navDrpDwnBtn::after{
        margin: 0;
        font-size: 0.8rem;
    }
}

@media (max-width: 768px) {
    .windowGroup-2row{
        flex-direction: column-reverse;
    }
    .menuToggle {
        display: block;
        width: 100%;
        height: 48px;
        border-radius: 1em;
        border: solid 1px #9DBFDD;
        background: #71A3E0;
        background: linear-gradient(180deg,rgba(113, 163, 224, 1) 0%, rgba(21, 10, 50, 1) 15%, rgba(56, 69, 117, 1) 90%, rgba(113, 163, 224, 1) 100%);
        box-shadow: inset 0 0 6.8px #4F91FB;
        box-shadow: 0 4px 11px -2px #4F91FB;
        font-family: "Yanone Kaffeesatz", sans-serif;
        max-width: 1290px;
        font-size: 20px;
        margin: auto;
        color: #fff;
    }
    .menuToggle.menuToggleOpen{
        border-radius: 1em 1em 0 0;
    }
    .siteHeader.siteHeaderOpen{
        border-radius: 1em 1em 0 0;
    }
    .siteHeader{
        border:none;
        background-color: transparent;
    }
    .siteHeader .navGroup{
        display: none;
        background-color: #2A2A2A;
        border-radius: 0 0 1em 1em;
        border-bottom: 1px solid #9DBFDD;
        border-left: 1px solid #9DBFDD;
        border-right: 1px solid #9DBFDD;
        box-shadow: inset 0 0 6.8px #1B1E5C;
        box-shadow: 0 4px 11px -2px #4F91FB;
        flex-direction: column;
        flex-wrap: nowrap;
        height: auto;
        max-height: calc(100vh - 64px);
        overflow-y: scroll;
    }
    .navGroup.navGroupOpen{
        display: inline-flex;
        flex-direction: row;
    }

    .siteHeader a {
        padding: .2em 0;
        border-bottom: 1px solid #9DBFDD;
        border-radius: 0;
    }
    .siteHeader a:last-child{
        border: 0;
    }
    .navDrpDwnBtn{
        border-bottom: 1px solid #9DBFDD;
        text-align: center;
        padding: .2em 0;
    }
    .navDrpDwnBtn::after{
        margin-left: .5em;
        font-size: 1rem;
    }
    .drpDwnCnt{
        position: relative;
        border-radius: 0;
        border-bottom: 1px solid #9DBFDD;
        background-color: #161616;
        box-shadow: none;
    }
    .blogPagination{
        justify-content: space-between;
    }
    .blogPagination button{
        width: 100%;
    }
    .blogPagination .blogPagTotal{
        width: 100%;
        text-align: center;
        overflow-wrap: break-word; /* Перенос длинных слов */
        word-wrap: break-word;
    }
    .searchBar .searchInput{
        padding: .5em .3em;
    }
    .postCard .postShortNPicture{
        flex-direction: column-reverse;
    }
    .gameCard .gameComment{
        flex-direction: column-reverse;
        align-items: center;
    }
    .gameCard .gameComment img{
        width: 100%;
    }
    .lightbox-Counter{
        top: 80px;
        bottom: auto;
    }
    .lightbox-Back{
        top: auto;
        bottom: 15%;
    }
    .lightbox-Next{
        top: auto;
        bottom: 15%;
    }
    .badgesComponent{
        flex-direction: column;
        gap: 1em;
    }
}

@media (max-width: 425px) {
    .pageContentContainer {
        padding: 1em 0.3em;
    }
    .postCard .postTitle{
        align-content: flex-start;
        flex-direction: column;
    }
    .postTitle .postName{
        width: 100%;
        font-size: 20px;
    }
    .postTitle .postName a{
        display: block;
    }
    .postTitle .postMeta{
        width: 100%;
    }
    .siteHeader .navGroup{
        flex-wrap: wrap;
    }
    .blogPagination{
        flex-direction: column;
    }
    .postCard .readMoreBtn{
        width: 100%;
        text-align: center;
        padding: 1em 0;
    }
    .gameCard .gameScore{
        font-size: 16px;
    }
    .projectLinks{
        flex-direction: column;
    }
    .projectLinks a{
        width: 100%;
        text-align: center;
        padding: 1em 0;
    }
    .backlog-progress-container .backlogFilter-btn button{
        width: 100%;
        text-align: center;
        padding: 1em 0;
    }
    .lightbox-Back{
        font-size: 24px;
        top: auto;
    }
    .lightbox-Next{
        font-size: 24px;
        top: auto;
    }
}

@media (max-width: 320px) {
    
}